<div id="bottom-menu" class="hide-for-large small-12">
    <div class="column active">
        <div class="callout">
            <a href="#">
                <h2 class="text-left">OVERVIEW</h2>
            </a>
        </div>
    </div>
    <div class="column large-push-8">
        <div class="callout">
            <a href="#">
                <h2 class="text-left">CIRCLE MEMBERS</h2>
            </a>
        </div>
    </div>
    <div class="column large-push-8">
        <div class="callout">
            <a href="#">
                <h2 class="text-left">UPDATES</h2>
            </a>
        </div>
    </div>
</div>