<footer class="footer">
    <div class="row align-middle">
        <div class="column left">
            <ul class="menu float-left">
                <li><a href="">CONTACT</a></li>
                <li><a href="">TERMS</a></li>
            </ul>
        </div>
        <div class="column right">
            <ul class="menu float-right">
                <li><a href=""><i class="fi-social-twitter"></i></a></li>
                <li><a href=""><i class="fi-social-facebook"></i></a></li>
                <li><a href=""><i class="fi-social-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>