<div data-sticky-container>
    <div class="small-12 sticky" data-sticky data-options="marginTop: 0;" data-sticky-on="small">
        <div class="top-bar">
            <div class="row align-center">
                <div class="medium-12 large-10 columns medium-nav">
                    <div class="top-bar-left">
                        <img class="nav-logo" data-interchange="[/images/mobile-logo.png, small], [/images/mobile-logo.png, medium], [/images/logo.png, large]" alt="Circawork Logo">
                    </div>
                    <div class="top-bar-right">
                        <ul class="menu">
                            <li><a href="">What is Circawork</a></li>
                            <li><a href="">Early line-up</a></li>
                            <li><a href="">Request Invite</a></li>
                            <li><a href="">Login</a></li>
                            <li><a href="">Search</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="small-nav">
                <span class="back"></span>
                <h2 class="text-center">CIRCAWORKERS</h2>
            </div>
        </div>
    </div>
</div>