<div class="top-bar">
    <div class="row align-center">
        <div class="small-9 columns">
            <div class="top-bar-left">
                <img class="nav-logo" src="/images/logo.png" alt="Circawork Logo">
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><a href="">What is Circawork</a></li>
                    <li><a href="">Early line-up</a></li>
                    <li><a href="">Request Invite</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="">Search</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>