$bg-image: "/images/bg-image.jpg";

html {
  background-color: $light-gray;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-attachment: fixed;
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  background-size: 30px 30px;
  @include breakpoint(rem-calc(320px) down) {
    font-size: 75% !important;
  }

}

body {
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-attachment: fixed !important;
  @include breakpoint(rem-calc(639px) down) {
    background-position-y: rem-calc(60px) !important;
  }
}


.top-bar {
  .nav-logo {
    height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .menu a {
    text-transform: uppercase;
    font-size: 0.8rem;
    @include breakpoint(medium down) {
      padding: 0.7rem 0.5rem !important;
    }
    &:hover, .active {
      color: $secondary-color;
    }
  }

  .small-nav {
    display: none;
    h2 {
      margin: 0.5rem 0;
      font-weight: bold;
    }
    .back:before {
      position: absolute;
      top: 1.5rem;
      left: 2rem;
      content: "";
      display: inline-block;
      /* By using an em scale, the arrows will size with the font */
      width: 0.8em;
      height: 0.8em;
      border-left: 0.3em solid $black;
      border-bottom: 0.3em solid $black;
      transform: rotate(45deg);
      margin-right: 0.5em;
    }
  }

  @include breakpoint(rem-calc(639px) down) {
    .medium-nav {
      display: none;
    }
    .small-nav {
      display: block;
    }
  }
}

p {
  font-size: 0.8rem !important;
}

.callout {
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 30px;
  border: none !important;
}

//review this
.column, .columns {
  padding-left: .5rem;
  padding-right: .5rem;
}

.main {
  margin-top: 80px;
  .avatar-container {
    z-index: 1;
    .avatar {
      max-height: 230px;
      border-radius: $global-radius;
    }
  }
  .avatar-details {
    color: $white;
    background: rgba(0, 0, 0, 0.5);
    margin-right: 0;
    margin-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    flex: 0 0 74%;
    @include breakpoint(large) {
      max-width: 74%;
      width: 74%;
    }
    h4 {
      margin-bottom: 0;
    }
  }
  .profile {
    @include breakpoint(large) {
      margin-top: -60px;
    }
    .left {
      .about-me {
        @include breakpoint(large){
          padding-top: 60px;
        }
        p {
          font-size: 1rem !important;
        }
      }
    }
    .right {
      .fund-btn {
        width: 100%;
        background-color: $tertiary-color;
        text-transform: uppercase;
      }
      .funding {
        .upper {
          margin-top: 1rem;
          margin-bottom: 2rem;
          .circle-container {
            margin: 1rem;
            #circle {
              position: relative;
              display: block;
              @include breakpoint(medium down) {
                width: 50%;
              }
              canvas {
                width: 100%;
              }
              .icon {
                position: absolute;
                left: 50%;
                top: calc(50% - 4px);
                padding: 0px;
                margin: 0px;
                transform: translate(-50%, -50%);
                color: $black;
                font-size: 2rem;
              }
            }
          }
          p {
            line-height: 80%;
            margin-bottom: 0;
            text-transform: uppercase;
            small {
              font-size: 8px;
            }
          }
          h5 {
            margin-bottom: 0.25rem;
          }
        }
        .details {
          margin: 1rem -1rem -1rem -1rem;
          h6 {
            color: $dark-gray;
            border-top: 1px solid $medium-gray;
            text-transform: uppercase;
            text-align: center;
            background: $light-gray;
            padding: 0.5rem;
            margin: 0;
          }
        }
      }
      .workroom {
        h6 {
          margin-bottom: 1rem;
        }
        .small-avatar {
          float: left;
          height: 45px;
          border-radius: 50%;
        }
        .direct-chat-text {
          border-radius: 5px;
          position: relative;
          padding: 5px 10px;
          background: #e7f2fe;
          margin: 5px 0 0 65px;
          color: $black;
          &:before, &:after {
            position: absolute;
            right: 100%;
            top: 15px;
            border: solid;
            border-color: #e7f2fe #e7f2fe transparent transparent;
            content: ' ';
            height: 0;
            width: 0;
            pointer-events: none;
          }
          &:before {
            border-width: 8px;
            margin-top: 10px;
          }
          &:after {
            border-width: 7px;
            margin-top: 11px;
          }
        }
      }
    }
  }
}

#side-menu {
  position: fixed;
  margin-left: -11rem;
  margin-top: -8rem;
  .callout {
    padding: 0;
    margin-bottom: 0.3rem;
    background-color: $light-gray;
    a {
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: bold;
      border-radius: $global-radius;
      font-size: 0.8rem;
      &.active, &:hover {
        padding-left: 8px;
        background-color: $white;
        border-left: 8px solid $secondary-color;
        color: $secondary-color;
      }
    }
  }
}


footer {
  height: 3rem;
  background-color: $black;
  .row {
    height: 100%;
    a {
      color: $white;
    }
    .left a {
      font-size: 0.7rem;
    }
    .right a {
      font-size: 1.4rem;
    }
  }
}