<!DOCTYPE html>
<html id="{{ page.id }}" class="html-bg">

  {% include head.html %}

  <body class="body-bg" data-interchange="[/images/mobile-bg.jpg, small], [/images/mobile-bg.jpg, medium], [/images/bg-image.jpg, large]">
    {% include navigation-bar.html %}
    <div class="row main align-center">
      <div class="column small-11 large-10">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.js"></script>
    <script src="/js/circle-progress.js"></script>
    <script>
      $(document).foundation();
      $('#circle').circleProgress({
        size: 160,
        fill: {
          color: "#f5386e"
        }
      });
    </script>
  </body>

</html>
